@import "src/styles/_colors.scss";

.section {
  background-image: url("../../../../img/desktop/hero.jpg");
  background-image: -webkit-image-set(
    url("../../../../img/desktop/hero.webp") 1x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 900px;
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 220px 200px 50px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .section {
    background-image: url("../../../../img/desktop/hero@2x.jpg");
    background-image: -webkit-image-set(
      url("../../../../img/desktop/hero@2x.webp") 2x
    );
    background-position: center center;
    background-size: cover;
  }
}

.list {
  width: 1020px;
  position: relative;
  height: 300px;
  margin-bottom: auto;
}
.item {
  font-family: "Proxima Nova", sans-serif;
  background: linear-gradient(
    183deg,
    rgba(26, 26, 26, 0.3) 0%,
    rgba(85, 85, 85, 0.3) 100%
  );
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 16px 28px;
  width: 409px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  position: absolute;
  &:first-child {
    left: 100px;
  }
  &:nth-child(2) {
    top: 70px;
    right: 0;
  }
  &:nth-child(3) {
    left: 20px;
    bottom: 0;
  }
}
.link {
  display: block;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $white;
  font-family: "Proxima Nova", sans-serif;
  text-decoration: none;
}
