@font-face {
 font-family: "Proxima Nova", sans-serif;
  src: local('Proxima Nova'),
    url('../fonts/ProximaNova/ProximaNovaRegular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
