// Typography.module.scss
@import "src/styles/_colors.scss";

.Typography {
  &.h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.125;
    text-align: center;
    color: $white;
    margin-bottom: 70px;
  }
  &.h2 {
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 600;
    font-size: 60px;
    position: relative;
  }
  &.h2::after {
    content: " ";
    width: 388px;
    height: 2px;
    display: block;
    bottom: -10px;
    position: absolute;
   opacity: 0.2;
    background-color: $lightGrey;
  }
}

// "h1",
// "h2",
// "h3",
// "h4",
// "h5",
// "h6",
// "subtitle1",
// "subtitle2",
// "body1",
// "body2",
// "caption",
// "inherit",
